body{
    background-color: lightgray;
}

.panel{
    border-radius: 0;
    margin: 70px 100px;
}

.row{
    text-align: center;
}

img{
    opacity: 0.8;
    transition: all 0.3s;
    max-width: 100%;
}

img:hover{
    opacity: 1;

}

p{
    font-weight: bold;
}
.navbar-header {
    padding-left: 100px;
}
